name: CI

on:
  - push
  - pull_request

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: RuboCop
        run: bundle exec rubocop
